<div class="container">
	<div class="mt-5" id="biblioteca-sub-container">
		<div class="mb-5">
			<h1 class="titulo_b">Biblioteca</h1>
			<h2 style="font-size: 40px;">Aqui você irá conhecer todos os livros disponíveis</h2>
		</div>
		<p class="text-light">Listagem de livros <span class="font-italic">(<%= books.length %> livros no total)</span>
		</p>

		<div class="d-flex flex-wrap card-wrapper">
			<% for (let contador=0; contador < books.length; contador++) { %>
				<div class="card px-5 py-4 mx-2 my-3 bg-light" style="width: 300px; height: 400px;">
					<div class="title" style="height: 120px;">
						<h3 style="text-align: center;">
							<%= books[contador].titulo %>
						</h3>
					</div>
					<div class="book-photo-wrapper">
						<img src="/public/book_cover/book<%= books[contador].book_id %>.jpg">
					</div>
					<p><span style="font-style: italic;font-weight: bold;">Autor</span>
						<%= books[contador].autor %>
					</p>
					<p class="truncate"><span style="font-style: italic;font-weight: bold;">Descrição</span>
						<%= books[contador].descricao %> ...
					</p>
					<a href="/detalhes/">Detalhes</a>
				</div>
				<% } %>
		</div>
	</div>
</div>