<div class="container" style="padding-top: 10%;">
    <% if (book == undefined) { %>
        <h1>Livro nao existe</h1>
    <% } else { %>
        <div class="row"">
            <div class="col">
                <div class="book-photo-wrapper">
                    <img src="/public/book_cover/book<%= book.book_id %>.jpg">
                </div>
                <h1 style="padding: 1%;">
                    <%= book.titulo %>
                </h1>
            </div>
            <div class="col">
                <h3>Descricao</h3>
                <p style="padding: 1%;">
                    <%= book.descricao %>
                </p>
            </div>
            <div class="col">
                <% if (review.length != 0) { %>
                    <h2 style="padding: 1%;">
                        Reviews
                    </h2>
                    <div>
                        <% for (let contador=0; contador < review.length; contador++) { %>
                            <div class="row">
                                <div style="display: flex; flex-direction: column; align-items: center;">
                                    <h3> <%= review[contador].nome %> </h3>
                                    <p> <%= review[contador].descricao %> </p>
                                </div>
                                <div>
                                    <% for (let estr=0; estr < review[contador].nota; estr++) { %>
                                        <span class="material-icons">star_rate</span>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                    </div>
                <% } else { %>
                    <h2 style="padding: 1%;">
                        Ainda Não Há Reviews
                    </h2>
                <% } %>
            </div>
        </div>
        
        <div class="col">

        </div>
    <% } %>
</div>